{% extends 'layout.html' %}

{% block body %}
<div class="wrapper">
  <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='_sidebar.css')}}">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Sales CRM</h3>
                <strong>CRM</strong>
            </div>

            <ul class="list-unstyled components">
                <li >
                    <a href="#"  aria-expanded="false" >
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                 
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        Organization
                    </a>
                    <a href="#"  aria-expanded="false" >
                        <i class="fas fa-id-card"></i>
                        Contact
                    </a>
                 
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-chart-bar"></i>
                        Analytics
                    </a>
                </li>
              
            </ul>

           
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
                 <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        
                    </div>
                </div> 
            </nav> -->

            </div>
    </div>
{% endblock %}